@model AspNetSearch.ViewModels.SearchWhereControlViewModel

    <div id="@Model.SearchId" class="form-inline">
        <input type="button" value="delete" class="btn btn-danger btn-sm ml-1" onclick="deleteControl(@Model.SearchId)" />

        <label class="">@Model.SearchName</label>
        @Html.HiddenFor(m => m.SearchName)
        @Html.TextBoxFor(m => m.SearchValue, new { @class = "form-control ml-1" })
        @Html.DropDownListFor(m => m.SearchRange, new SelectListItem[] {
            new SelectListItem() { Value="0", Text="=" },
            new SelectListItem() { Value="1", Text=">" },
            new SelectListItem() { Value="2", Text="<" }
            },
            "選択してください", new { @class = "form-control ml-1" })

    </div>
