@model AspNetSearch.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="form-inline">

    <select class="form-control" id="inputName" name="inputName" onchange="selectOnChange(this)">
        @foreach (var i in Model.Columns)
        {
            <option value="@i.ColumnId">@i.ColumnDisplayName</option>
        }
    </select>

    <div class="ml-2">

        @using (Ajax.BeginForm("AjaxWhereList", "Search",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "addWhereControl",
                InsertionMode = InsertionMode.InsertAfter, OnBegin = "onBeginForm()", OnComplete = "onCompleteForm()"
            }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="tableId" name="tableId" value="@Model.TableId" />
            <input type="hidden" id="searchWhereColumnId" name="searchWhereColumnId" />
            <button type="submit" class="btn btn-info formButton" id="addWhereButton">
                Where追加
                <span class="spinner-border spinner-border-sm formSpinner" role="status" aria-hidden="true" style="visibility:hidden"></span>
            </button>
        }

    </div>

    <div class="ml-2">

        @using (Ajax.BeginForm("AjaxSelectList", "Search",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "addSelectControl",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "onBeginForm()",
                OnComplete = "onCompleteForm()"
            }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="tableId" name="tableId" value="@Model.TableId" />
            <input type="hidden" id="searchSelectColumnId" name="searchSelectColumnId" />
            <button type="submit" class="btn btn-info formButton" id="addSelectButton">
                Select追加
                <span class="spinner-border spinner-border-sm formSpinner" role="status" aria-hidden="true" style="visibility:hidden"></span>
            </button>
        }
    </div>

</div>


@using (Ajax.BeginForm("SearchPost",
    new AjaxOptions() {
        UpdateTargetId = "result",
        HttpMethod = "POST",
        OnBegin = "onBeginForm()",
        OnComplete = "onCompleteForm()"
    }))
{
    <br />
    <label>Where</label>
    <div id="addWhereControl">
        @foreach (var item in Model.WhereDetails)
        {
            @Html.Partial("_SearchWhereControl", item)
        }
    </div>

    <hr />

    <label>Select</label>
    <div id="addSelectControl">
        @foreach (var item in Model.SelectDetails)
        {
            @Html.Partial("_SearchSelectControl", item)
        }
    </div>

    <hr />

    <div>
        <button type="submit" class="btn btn-info formButton" name="Search" id="searchButton">
            Search
            <span class="spinner-border spinner-border-sm formSpinner" role="status" aria-hidden="true" style="visibility:hidden"></span>
        </button>
        <button type="submit" class="btn btn-info formButton" name="Save" id="saveButton" onclick="return onSave()">
            Save
            <span class="spinner-border spinner-border-sm formSpinner" role="status" aria-hidden="true" style="visibility:hidden"></span>
        </button>
    </div>

    <input type="hidden" name="tableId" value="@Model.TableId" />
    <input type="hidden" name="saveName" id="saveName" />
    @Html.AntiForgeryToken()
}

<br />

<div id="result">

</div>


@section scripts{

    <script>
        function deleteControl(id) {
            document.getElementById(id).remove();
        }

        function onBeginForm() {
            $(".formButton").prop("disabled", true);
            $(".formSpinner").css('visibility', '');
        }

        function onCompleteForm() {
            $(".formButton").prop("disabled", false);
            $(".formSpinner").css('visibility', 'hidden');
        }

        function onSave() {
            saveName = window.prompt("保存する名前を入力してください。", "");
            if (saveName == null) {
                return false;
            }
            document.getElementById('saveName').value = saveName;
        }

        function selectOnChange($this) {
            document.getElementById('searchWhereColumnId').value = $this.value;
            document.getElementById('searchSelectColumnId').value = $this.value;
        }

        window.onload = function () {
            selectOnChange(document.getElementById('inputName'));
        }

        new Sortable(addWhereControl, {
            handle: ".handle",
            animation: 150
        });

        new Sortable(addSelectControl, {
            handle: ".handle",
            animation: 150
        });

    </script>
}

