@model AspNetSearch.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="form-inline">

    <select class="form-control" id="inputName" name="inputName" onchange="selectOnChange(this)">
        @foreach (var i in Model.Columns)
        {
            <option value="@i.ColumnId">@i.ColumnDisplayName</option>
        }
    </select>

    <div class="ml-2">

        @using (Ajax.BeginForm("AjaxWhereList", "Search",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "addSearchControl",
                InsertionMode = InsertionMode.InsertAfter
            }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="tableId" name="tableId" value="@Model.TableId" />
            <input type="hidden" id="searchWhereColumnId" name="searchWhereColumnId" />
            <input type="submit" class="btn btn-info" value="Where追加" />
        }

    </div>

    <div class="ml-2">

        @using (Ajax.BeginForm("AjaxGroupList", "Search",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "addGroupControl",
                InsertionMode = InsertionMode.InsertAfter
            }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="tableId" name="tableId" value="@Model.TableId" />
            <input type="hidden" id="searchGroupColumnId" name="searchGroupColumnId" />
            <input type="submit" class="btn btn-info" value="Group追加" />
        }
    </div>

    <div class="ml-2">

        @using (Ajax.BeginForm("AjaxSelectList", "Search",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "addSelectControl",
                InsertionMode = InsertionMode.InsertAfter
            }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="tableId" name="tableId" value="@Model.TableId" />
            <input type="hidden" id="searchSelectColumnId" name="searchSelectColumnId" />
            <input type="submit" class="btn btn-info" value="Select追加" />
        }
    </div>

</div>


@using (Ajax.BeginForm("SearchPost", new AjaxOptions() { UpdateTargetId = "result", HttpMethod = "POST" }))
{
    <div class="mt-2">
        <label>Where</label>
        <div id="addSearchControl">

        </div>
    </div>

    <hr />

    <div>
        <label>Group</label>
        <div id="addGroupControl">

        </div>
    </div>

    <hr />

    <div>
        <label>Select</label>
        <div id="addSelectControl">

        </div>
    </div>

    <hr />

    <div>
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>

    <input type="hidden" name="tableId" value="@Model.TableId" />
    @Html.AntiForgeryToken()
}

<br />

<div id="result">

</div>


@section scripts{

    <script>
        function deleteControl(id) {
            document.getElementById(id).remove();
        }

        function selectOnChange($this) {
            document.getElementById('searchWhereColumnId').value = $this.value;
            document.getElementById('searchGroupColumnId').value = $this.value;
            document.getElementById('searchSelectColumnId').value = $this.value;
        }

        window.onload = function(){
            selectOnChange(document.getElementById('inputName'));
        }
    </script>

}

