@model AspNetSearch.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="form-inline">

    <select class="form-control" id="inputName" name="inputName" onchange="selectOnChange(this)">
        @foreach (var i in Model.Columns)
        {
            <option value="@i.ColumnId">@i.ColumnDisplayName</option>
        }
    </select>

    <div class="ml-2">

        @using (Ajax.BeginForm("AjaxWhereList", "Search",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "addWhereControl",
                InsertionMode = InsertionMode.InsertAfter
            }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="tableId" name="tableId" value="@Model.TableId" />
            <input type="hidden" id="searchWhereColumnId" name="searchWhereColumnId" />
            <input type="submit" class="btn btn-info" value="Where追加" />
        }

    </div>

    <div class="ml-2">

        @using (Ajax.BeginForm("AjaxSelectList", "Search",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "addSelectControl",
                InsertionMode = InsertionMode.InsertAfter
            }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="tableId" name="tableId" value="@Model.TableId" />
            <input type="hidden" id="searchSelectColumnId" name="searchSelectColumnId" />
            <input type="submit" class="btn btn-info" value="Select追加" />
        }
    </div>

</div>


@using (Ajax.BeginForm("SearchPost", new AjaxOptions() { UpdateTargetId = "result", HttpMethod = "POST" }))
{
    <br />
    <label>Where</label>
    <div id="addWhereControl">
        @foreach (var item in Model.WhereDetails)
        {
            @Html.Partial("_SearchWhereControl", item)
        }
    </div>

    <hr />

    <label>Select</label>
    <div id="addSelectControl">
        @foreach (var item in Model.SelectDetails)
        {
            @Html.Partial("_SearchSelectControl", item)
        }
    </div>

    <hr />

    <div>
        <input type="submit" class="btn btn-primary" name="Search" value="Search" />
        <input type="submit" class="btn btn-primary" name="Save" value="Save" onclick="onSave()" />
    </div>

    <input type="hidden" name="tableId" value="@Model.TableId" />
    <input type="hidden" name="saveName" id="saveName" />
    @Html.AntiForgeryToken()
}

<br />

<div id="result">

</div>


@section scripts{

    <script>
        function deleteControl(id) {
            document.getElementById(id).remove();
        }

        function onSave() {
            saveName = window.prompt("保存する名前を入力してください。", "");
            document.getElementById('saveName').value = saveName;
        }

        function selectOnChange($this) {
            document.getElementById('searchWhereColumnId').value = $this.value;
            document.getElementById('searchSelectColumnId').value = $this.value;
        }

        window.onload = function () {
            selectOnChange(document.getElementById('inputName'));
        }

        new Sortable(addWhereControl, {
            handle: ".handle",
            animation: 150
        });

        new Sortable(addSelectControl, {
            handle: ".handle",
            animation: 150
        });

    </script>
}

